asgiref==3.5.2
Django==4.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
django-cors-headers==3.13.0
django-cleanup==6.0.0
dj-database-url==1.0.0
django-pb-model==0.3.3
gunicorn==20.1.0
igdb-api-v4==0.0.5
Pillow==9.2.0
PyJWT==2.4.0
protobuf==4.21.7
python-dotenv==0.21.0
pytz==2022.2.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.4
